input,
select {
    border: 1px solid #e3ded9;
    color: #b6a08d;
}

.admin__inner {
    margin: 32px auto 0;
    width: 84%;
}

.search-form {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    gap: 30px;
}

.search-form__keyword-input {
    padding: 5px 20px;
    min-width: 350px;
    border: 1px solid #a09a95;
    background-color: #f3ebeb;
}

.search-form__gender,
.search-form__category {
    position: relative;
}

.search-form__gender::after,
.search-form__category::after {
    position: absolute;
    top: 50%;
    right: 8%;
    width: 0;
    height: 0;
    border-top: 12px solid #beb1a6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.search-form__gender-select,
.search-form__category-select {
    padding: 8px 12px;
    height: 100%;
    background-color: #f3ebeb;
}

.search-form__gender-select {
    min-width: 96px;
}

.search-form__category-select {
    min-width: 220px;
}

.search-form__date {
    position: relative;
    padding: 8px 12px;
    min-width: 100px;
    border: 1px solid #e3ded9;
    background-color: #f4f4f4;
}

.search-form__date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background: transparent;
}

.search-form__date::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 12px solid #beb1a6;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.search-form__actions {
    display: flex;

    gap: 24px;
}

.search-form__search-button,
.search-form__reset-button {
    padding: 12px;
    width: 90px;
}

.search-form__reset-button {
    color: #8b7969;
    background-color: #ebd8c8;
}

.export-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.export__button {
    background-color: #e1dbd6;
    color: #8b7969;
    font-weight: 400;

    padding: 8px 12px;
}

.admin__table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

.admin__row {
    border: 1px solid #e0dfde;
}

.admin__label,
.admin__data {
    padding: 16px 8px;
}

.admin__label:first-of-type,
.admin__data:first-of-type {
    padding-left: 48px;
}

.admin__label:last-of-type,
.admin__data:last-of-type {
    padding-right: 48px;
}

.admin__label {
    background-color: #ac937e;
    color: #fff;
    text-align: left;
    font-weight: 400;
}

.admin__detail-button {
    padding: 8px 12px;
    border: 1px solid #d9c6b5;
    background-color: #f0f0f0;
    color: #d9c6b5;
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    border: 1px solid #ac937e;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}

.modal__content {
    position: relative;
    padding: 64px 64px;
}

.modal-form__group {
    display: grid;
    margin-top: 32px;

    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.modal-form__label {
    font-weight: bold;
}

.modal-form__delete-button {
    margin: 64px auto 0;
    background-color: #ba370d;
    color: #fff;
}

.modal__close-button {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    border: 1px solid #ac937e;
    border-radius: 50%;
    color: #ac937e;
    text-align: center;
    text-decoration: none;
}
