.contact-form__inner {
    margin: 20px auto 0;
    width: 65%;
    font-size: 16px;
}

.contact-form__group {
    display: grid;
    align-items: center;
    margin-top: 10px;

    grid-template-columns: 1fr 2fr;
}

.contact-form__group:first-of-type {
    margin-top: 0;
}

.contact-form__group:last-of-type {
    align-items: flex-start;
}

.contact-form__required {
    color: #ff3232;
}

.contact-form__input {
    padding: 8px 16px;
    background-color: #e9e8e8;
    color: #000000;
}

.contact-form__name-inputs,
.contact-form__tel-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.contact-form__name-input {
    width: 100%;
}

.contact-form__gender-inputs {
    display: flex;
    justify-content: left;
}

.contact-form__gender-option {
    margin-right: 50px;
}

.contact-form__gender-input {
    position: absolute;

    appearance: none;
}

.contact-form__gender-text {
    display: flex;
    align-items: center;
}

.contact-form__gender-text::before {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid #927e6d;
    border-radius: 50%;
    content: "";
}

.contact-form__gender-input:checked + .contact-form__gender-text::before {
    background: #927e6d;
}

.contact-form__tel-input {
    width: calc(100% / 3);
    text-align: center;
}

.contact-form__select-inner {
    position: relative;
}

.contact-form__select-inner::after {
    position: absolute;
    top: 50%;
    left: 42%;
    width: 0;
    height: 0;
    content: "";
}

.contact-form__select {
    padding: 8px 16px;
    width: 50%;
    background-color: #e9e8e8;
    color: #cbb5a2;
}

.contact-form__textarea {
    padding: 8px 16px;
    height: 144px;
    background-color: #e9e8e8;
    color: #cbb5a2;
}

.contact-form__button {
    padding: 10px auto 0px;
    width: 130px;
    height: 40px;
    align-items: center;
    border: none;
    border-radius: 3px;
    background: #7b614c;
    color: #fff;
    cursor: pointer;
    margin: 50px auto;
    display: block;
}

.contact-form__error-message {
    margin-top: 8px;
    color: #ff9494;
    grid-column: 2;
}

.contact-form__name-group .contact-form__error-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
