.header {
  display: none;
}

.thanks-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thanks-page__message {
  font-weight: bold;
  font-size: 24px;
}

.thanks-page__button {
  margin: 32px auto 0;
}
